.hero-img{
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.heading{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img::before{
    content: "";
    background-image: url(https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}
.hero-img h1{
    font-size: 2.5rem;
}
.hero-img p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width:640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}